<!DOCTYPE HTML>
<html lang = "en">
  <head>  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />  
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="/assets/css/all.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="/assets/js/search-min.js"></script>
	<script src="/assets/js/random-min.js"></script>

<title>{% if page.title != null and  page.Location != null %} {{ page.Name }} - {{page.Location}} - Listen Online   
{% elsif page.title != null and page.Stream != null %}
{{page.title}} - Listen Online
{% else %}
{{page.title}}
{% endif %}</title> 

{% if page.Name %}<meta name="description" content="Listen online to {{page.title}} from {{page.Location}}.{{ page.excerpt | strip_html}}">
{% elsif page.excerpt %}<meta name="description" content="{{ page.excerpt}}">
{% else %} <meta name="description" content="{{ page.title}}, Listen online to 1000s of internet radio stations featuring every style, including hip hop, jazz, new age, rock, classical, oldies, and more. Search/browse & Listen to live Internet Radio Stations  "> {% endif %}

{% if page.Name %}<meta property="og:description" content="Listen online to {{page.title}} from {{page.Location}}.{{ page.excerpt | strip_html}}">
{% elsif page.excerpt %}<meta property="og:description" content="{{ page.excerpt}}">
{% else %} <meta property="og:description" content="{{ page.title}}, Listen online to 1000s of internet radio stations featuring every style, including hip hop, jazz, new age, rock, classical, oldies, and more. Search/browse & Listen to live Internet Radio Stations  "> {% endif %}
<meta content="{{ site.title }}" property="og:site_name">
{% if page.title %}  <meta content="{{ page.title }}" property="og:title">{% endif %}
{% if page.title %}  <meta content="article" property="og:type">{% else %}  <meta content="website" property="og:type">{% endif %}
{% if page.url %}  <meta content="http://radiobucket.com{{ page.url }}" property="og:url"> {% endif %}
{% if page.logo %}<meta property='og:image' content='{{page.logo}}'/>{% else %}<meta property='og:image' content='http://i1.wp.com/s2.rdio.cf/img/speaker.png'/>{% endif %}
<meta property='og:site_name' content='{{ site.title }}'/>
<meta property="og:type" content="music.radio_station" />
<meta property="fb:admins" content="100001402555904"/>
<meta property="og:email" content="info@radiobucket.com">
<meta property="fb:page_id" content="212187565514122" />
<meta name="OMG-Verify-V1" content="582834-08d353b4-9acf-42fa-8703-4da110b763bc" />	
<meta property='og:title' content='{% if page.title != null and  page.Location != null %} {{ page.Name }} - {{page.Location}} - Listen Online   
{% elsif page.title != null and page.Stream != null %}{{page.title}} - Listen Online
{% else %}{{page.title}}{% endif %}'/>

  </head>

  <body">
    
  
    <div class="boxed">
      <div class="header">
        <div class="very-top">
          <div class="wrapper">
            
            <ul class="left responsivemenu" rel="Menu">
              <li>
                <a href="/">
                  Home
                </a>
              </li>
             
              <li>
                <a href="mailto:info@radiobucket.com?Subject=Advertisement">
                 Advertise
                </a>
              </li>
               <li>
                <a href="/submit/">
                  Submit a Station
                </a>
              </li>
               <li>
                <a href="/fresh-arrival/">
                  Fresh Arrival
                </a>
              </li>
              <li>
                <a href="/privacy/">
                  Privacy Policy
                </a>
              </li>
              
             
              <li>
                <a href="mailto:info@radiobucket.com">
                  Contact
                </a>
              </li>
              
              
              
            </ul>
            
            <ul class="right">
			{% if site.author.facebook %}
              <li>
                <a href="http://facebook.com/{{ site.author.facebook }}" target="_blank" class="icon-text">
                  &#62220;
                </a>
              </li>
			  {% endif %}
              {% if site.author.twitter %}
              <li>
                <a href="http://twitter.com/{{ site.author.twitter }}" target="_blank" class="icon-text">
                  &#62217;
                </a>
              </li>
			  {% endif %}
              {% if site.author.googleplus %}
              <li>
                <a href="http://google.com/{{ site.author.googleplus }}" target="_blank" class="icon-text">
                  &#62223;
                </a>
              </li>
			  {% endif %}
            </ul>
            
            <div class="clear-float">
            </div>
            
            <!-- END .wrapper -->
          </div>
        </div>
        
        <!-- BEGIN .wrapper -->
        <div class="wrapper">
          
          <div class="logo-image">
            <a href="/">
              <img src="http://i2.wp.com/radiobucket.com/assets/images/logo.png" alt="RadioBucket-Logo" />
            </a>
          </div>
          
                  
                  <div class="banner">
               <center>
                        <a href="//www.bluehost.com/track/harmanpreet/" target="_blank">
                        <img border="0" src="//media.radiobucket.com/assets/media/BH.png">
                        </a>
                    
                </center>
                 
                  </div>
                  <div class="clear-float">
                  </div>
                 <br />
              
                    <!--SEARCH-->
                    
                    <div>
					<input id="search_input" style="width:100%; margin-bottom:20px; text-align:center; height:50px; font-size:25px; color: #fff;  opacity:0.3; background-color : #111; border-radius:10px; " data-toggle="dropdown" type="text" class="form-control" placeholder="Search" autofocus="autofocus" autocomplete="on" onkeyup="checkTextField();" />
					
					 
                
                    </div>
					
					<div style="z-index:999; text-align:justify; font-size:16px; position:relative;">
					
<center><ul id="search_results">
       </ul></center>
	   </div>
                     <!--SEARCH-->
                  <!-- END .wrapper -->
              </div>
              <!-- END .header -->
          </div>  

		  
          <!-- BEGIN .content -->
          <div class="content">
            
            <!-- BEGIN .wrapper -->
            <div class="wrapper">
              <div class="main-content left">
              {{ content }}
			  
			  <div class="sidebar-content right">    
			       <!-- BEGIN .panel-block -->
                <div class="panel-block">
                <div class="socialize-panel">
                 <center>



<h3 style="margin-left:5px;"><span>Explore </span>
            <select name="Explore By Genres" onchange="window.location=this.options[this.selectedIndex].value;">
              <OPTION SELECTED VALUE="" disabled>----Select Genre----</OPTION>
{% capture tags %}  {% for tag in site.tags %}    {{ tag[0] }}  {% endfor %}{% endcapture %}{% assign sortedtags = tags | split:' ' | sort %}
{% for tag in sortedtags %} 
<option style="text-transform:capitalize;" value="/genre/{{ tag }}">{{ tag }}</option> 
{% endfor %}
                   </select>
          </h3>                               
                 </center>
                 


                  <!-- END .panel-block -->
                </div>
				
				</div>
				
			  <div class="socialize-panel">
                 <center>

<a href="http://facebook.com/RadiobucketCom" target="_blank" alt="Facebook"><img src="http://icons.iconarchive.com/icons/danleech/simple/48/facebook-icon.png" /></a>
<a href="http://twitter.com/RadiobucketCom" target="_blank" alt="Twitter"><img src="http://icons.iconarchive.com/icons/danleech/simple/48/twitter-icon.png" /></a>
<a href="http://google.com/+RadiobucketCom" target="_blank" alt="Google Plus"><img src="http://icons.iconarchive.com/icons/danleech/simple/48/google-plus-icon.png" /></a>
<a href="http://feeds.feedburner.com/RadiobucketCom" target="_blank" alt="RSS"><img src="http://icons.iconarchive.com/icons/danleech/simple/48/rss-icon.png" /></a>                   
                 </center>

                  <!-- END .panel-block -->
                </div>
			  <br />
			  	<div class="gallery-content">
                       <ul class="article-list">
                        <center> 
						{% for post in site.related_posts limit:4 %}
						<li>
                        <h3>
                         <a style="text-decoration:none;"  href="{{ BASE_PATH }}{{ post.url }}" title="{{post.title}}">
         {{post.title}}</a></h3></li><hr />
                          {% endfor %}
        </center>
                        </ul>
                </div>
			  
			   <!-- BEGIN .panel-block -->
                <div class="panel-block">
                  <div class="wide-banner">
<!--banner Space -->
                   
                  </div>
                  <!-- END .panel-block -->
                </div>
				
			   <div class="split-panel">
                  
				 
				  
                  <div class="left">
                    <div class="panel-block">
					<div class="panel-content">
					<div class="article-big">
					<div class="article-content">
                           <center>
						   <a href="https://shorte.st/ref/1b50118cfc" rel="nofollow" target="_blank">
                        <img border="0" src="http://i1.wp.com/static.shorte.st/bundles/smeuser/img/referral_banners/125x125.png?v1.11.35">
                        </a></center>
                          </div></div></div> </div></div>
                  
                  <div class="right"><!-- BEGIN .panel-block -->
                    <div class="panel-block">
                      <div class="panel-content">
                       <!-- BEGIN .article-big -->
                        <div class="article-big">
                          <div class="article-content">
                           <center> <a href="http://themeforest.net/?ref=hps89"><img src="/assets/media/themeforest.jpg" /></a></center>
                          </div></div></div></div></div>
						  
						  <br />
						  <div class="left">
                    <div class="panel-block">
					<div class="panel-content">
					<div class="article-big">
					<div class="article-content">
                           <center>
						   <a href="http://codecanyon.net/?ref=hps89" rel="nofollow" target="_blank">	
                        <img border="0" src="/assets/media/codecanyon.jpg">
                        </a></center>
                          </div></div></div> </div></div>
                  
                  <div class="right"><!-- BEGIN .panel-block -->
                    <div class="panel-block">
                      <div class="panel-content">
                       <!-- BEGIN .article-big -->
                        <div class="article-big">
                          <div class="article-content">
                           <center> <a href="http://compare-host.com/visit/hostpapa"><img src="http://www.hostpapa.com/assets/banners-affiliate/395/007hostpapa125x125.gif" /></a></center>
                          </div></div></div></div></div>
                  
                  <div class="clear-float">
                  </div>
                  <center>
						   <a href="https://www.peopleperhour.com/site/register?rfrd=510420.1" rel="nofollow" target="_blank">
                        <img border="0" src="//media.radiobucket.com/assets/media/pph.jpg">
                        </a></center>
						
                </div>
                
			
			   
			    <!-- BEGIN .panel-block -->
                <div class="panel-block">
                  
                  <div class="panel-content">
                    
                
                    
                  </div>
                  <!-- END .panel-block -->
                </div>
			   
			   </div>
              
              <div class="clear-float">
              </div>
              <!-- END .wrapper -->
            </div>
            
			<!-- BEGIN .content -->
          </div>

		  
           <!-- BEGIN .footer -->
          <div class="footer">
            
            <!-- BEGIN .wrapper -->
            <div class="wrapper">
              
             <div class="footer-explore">
               <center>
                <a href="http://tracking.maxcdn.com/c/46936/133488/378"><img src="/assets/media/maxcdn.gif"  style="max-height:90x; max-width:760px; width:100%;"/>
</a>
<!--
                     <a href="http://compare-host.com/visit/bluehost"> <img src="http://bluehost-cdn.com/media/partner/images/harmanpreet/760x80/bh-760x80-02-dy.png" style="max-height:90x; max-width:760px; width:100%;" alt="img">
                    </a>
                  -->
           </center>
              </div>
              
              <!-- END .wrapper -->
            </div>
            
            <!-- BEGIN .copyright-info -->
            <div class="copyright-info">
              
              <!-- BEGIN .wrapper -->
              <div class="wrapper">
                
                <ul class="right">
                  <li>
                    <a title="Web-design & Development" href="http://www.d89.in">
                      D89
                    </a>
                  </li>
                  <li>
                    <a title="Employment News " href="http://www.gjobs.in">
                      GJobs
                    </a>
                  </li>
				  <li>
                    <a title="Explore the web " href="http://www.letsfiddle.com">
                      LetsFiddle
                    </a>
                  </li>
                  <li>
                    <a title="Web Hosting Comparison" href="http://www.compare-host.com">
                      Compare Host
                    </a>
                  </li>
				  
                  
                </ul>
                

                
                <p>
                  <b>
                    &copy; 2011-2015 Radiobucket 
                  </b>
                 
                </p>
                
                <!-- END .wrapper -->
              </div>
              
              <!-- END .copyright-info -->
            </div>
            
			<!-- END .footer -->
          </div>
          
          <!-- END .boxed -->
      </div>
      
      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-26839201-2', 'radiobucket.com');
  ga('send', 'pageview');

</script>
      
      <!-- Scripts -->
      <script type="text/javascript" async src="{{site.url}}/assets/jscript/all.js">
      </script>
      

      <!-- END body -->
      
      
 </body>
  <!-- END html -->
</html>          