<div class="panel-block">
    <div class="panel-content">
        <div class="article-header">
            <div class="the-article-title">
                <br/>
                <center>
                    <h1>{{ page.Name }}</h1></center>
                <br />
            </div>
        </div>
    </div>
</div>

<!-- Begin Tab Section -->
<div class="the-article-content">

    <center>
		{% case page.s_type %}
        {% when 'shoutcast' %}

        <object width="300" height="85" bgcolor="1f1f1f">
            <param name="movie" value="/assets/media/muses.swf" />
            <param name="flashvars" value="url={{page.Stream}}/;&lang=en&title={{page.Name}}&skin=/assets/media/player.xml" />
            <param name="wmode" value="window" />
            <param name="scale" value="noscale" />
            <embed src="/assets/media/muses.swf" flashvars="url={{page.Stream}}/;&lang=en&title={{page.Name}}&color=red&skin=/assets/media/player.xml" width="300" height="85" scale="noscale" wmode="window" bgcolor="1f1f1f" style="border:1px solid #181818" type="application/x-shockwave-flash" />
        </object>

        {% when 'radionomy' %}

        <object width="300" height="85">
            <param name="allowscriptaccess" value="always" />
            <param name="movie" value="http://static.radionomy.com/cdn/flash/BannerEmbed.swf?RadUID={{page.RadUID}}&amp;titlesColor=ffffff&amp;color=1f1f1f&amp;autoPlay=no&amp;lang=en" />
            <param name="wmode" value="transparent" />
            <embed src="http://static.radionomy.com/cdn/flash/BannerEmbed.swf?RadUID={{page.RadUID}}&amp;titlesColor=ffffff&amp;color=1f1f1f&amp;autoPlay=no&amp;lang=en" wmode="transparent" type="application/x-shockwave-flash" allowscriptaccess="always" width="300" height="85"></embed>
        </object>
		{% when 'radionomy2' %}
		<script>(function (win, doc, script, source, objectName) { (win.RadionomyPlayerObject = win.RadionomyPlayerObject || []).push(objectName); win[objectName] = win[objectName] || function (k, v) { (win[objectName].parameters = win[objectName].parameters || { src: source, version: '1.1' })[k] = v; }; var js, rjs = doc.getElementsByTagName(script)[0]; js = doc.createElement(script); js.async = 1; js.src = source; rjs.parentNode.insertBefore(js, rjs); }(window, document, 'script', 'https://www.radionomy.com/js/radionomy.player.js', 'radplayer'));
		radplayer('url', '{{page.RadUID}}');
		radplayer('type', 'mobile');
		radplayer('autoplay', '0');
		radplayer('volume', '50');
		radplayer('color1', '#000000');
		radplayer('color2', '#ffffff');
		</script>
		<div class="radionomy-player"></div>

        {% else %}
        <object width="300" height="85" bgcolor="1f1f1f">
            <param name="movie" value="/assets/media/muses.swf" />
            <param name="flashvars" value="url={{page.Stream}}&lang=en&title={{page.Name}}&skin=/assets/media/player.xml" />
            <param name="wmode" value="window" />
            <param name="scale" value="noscale" />
            <embed src="/assets/media/muses.swf" flashvars="url={{page.Stream}}&lang=en&title={{page.Name}}&color=red&skin=/assets/media/player.xml" width="300" height="85" scale="noscale" wmode="window" bgcolor="1f1f1f" style="border:1px solid #181818" type="application/x-shockwave-flash" />
        </object>
        {% endcase %}
    </center>
    <br />


    <div class="tabs">
        <ul>
            <li><a href="#"><span class="icon-text">&#128240;</span> Station Info.</a></li>
            <li><a href="#"><span class="icon-text">&#59156;</span> Embed Player</a></li>
			<a href="/submit/update/" style="margin-left:15px; margin-top:10px; color:#636363;"><span class="icon-text">&#9998;</span> Suggest an Update</a>
			
			
                    </ul>
					
        <div>


            {{ content }}
            <hr />

            <h4><strong>Bitrate</strong> : {{page.bitrate}} kbps</h4>
            <br />
            <h4><strong>Website</strong> : <a rel="nofollow" target="_blank" href="http://{{page.Website}}">{{page.Website}}</a></h4>
            <br />
            <h4><strong>Genres</strong> : {% for tag in page.tags %}<a href="/genre/{{ tag }}">&bull; {{ tag }} </a>&nbsp;&nbsp; {% if forloop.last != true %} {% endif %} {% endfor %}</h4>
            <br /> {% if page.Location %}
            <h4><strong>Location</strong> : {{page.Location}}</h4>
            <br /> {% endif %}
			{% if page.Email %}
            <h4><strong>Contact</strong> : <a href="mailto:{{page.Email}}" target="_blank"> Email the station</a></h4>
            <br />  {% endif %}
			{% if page.s_type == "shoutcast" %}
            <h4><strong>Listen using</strong> : <a href="{{page.Stream}}/listen.pls"><img src="/assets/images/pls.png" title="Play in Winamp" alt="Winamp" /></a> 
 {% elsif page.s_type == null %}
 &nbsp;{% else %}
 <h4><strong>Listen using</strong> : <a href="{{page.Stream}}.m3u"><img src="/assets/images/pls.png" title="Play in Winamp" alt="WMP" /></a><a href="{{page.Stream}}.m3u"><img src="/assets/images/wmp.png" title="Play in Windows Media Player" alt="WMP" /></a> {% endif %}
            </h4>
	
        </div>
        <!-- Div Embed -->
        <div>

            <form>
                <textarea rows="20">

                    {% if page.s_type == "shoutcast" %}

                    <object width="300" height="85" bgcolor="1f1f1f">
                        <param name="movie" value="http://media.radiobucket.com/assets/media/muses.swf" />
                        <param name="flashvars" value="url={{page.Stream}}/;&lang=en&title={{page.Name}}&skin=http://media.radiobucket.com/assets/media/player.xml" />
                        <param name="wmode" value="window" />
                        <param name="scale" value="noscale" />
                        <embed src="http://media.radiobucket.com/assets/media/muses.swf" flashvars="url={{page.Stream}}/;&lang=en&title={{page.Name}}&color=red&skin=http://media.radiobucket.com/assets/media/player.xml" width="300" height="85" scale="noscale" wmode="window" bgcolor="1f1f1f" style="border:1px solid #181818" type="application/x-shockwave-flash" />
                    </object>

                    {% else %}
                    <object width="300" height="85" bgcolor="1f1f1f">
                        <param name="movie" value="http://media.radiobucket.com/assets/media/muses.swf" />
                        <param name="flashvars" value="url={{page.Stream}}&lang=en&title={{page.Name}}&skin=http://media.radiobucket.com/assets/media/player.xml" />
                        <param name="wmode" value="window" />
                        <param name="scale" value="noscale" />
                        <embed src="http://media.radiobucket.com/assets/media/muses.swf" flashvars="url={{page.Stream}}&lang=en&title={{page.Name}}&color=red&skin=http://media.radiobucket.com/assets/media/player.xml" width="300" height="85" scale="noscale" wmode="window" bgcolor="1f1f1f" style="border:1px solid #181818" type="application/x-shockwave-flash" />
                    </object>
                    {% endif %}

                </textarea>

            </form>

        </div>

       
    </div>



</div>

<!-- End Tab Section -->

<!-- BEGIN .article-share -->
<div class="article-share">
    <div class="assigned-title">
        <b>
                          <span class="icon-text">
                            &#59196;
                          </span>
                          Share this article:
                        </b>
    </div>
    <div class="assigned-content">
        <!-- AddThis Button BEGIN -->

        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ec6145a7040f29b" async></script>

        <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
            <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript">
            var addthis_config = {
                "data_track_addressbar": false
            };
        </script>
        <!-- AddThis Button END -->
    </div>
    <div class="clear-float">
    </div>
    <!-- END .article-share -->
</div>

<div class="article-share">

    {% include JB/comments %}

</div>
</div>